@media only screen and (max-width: 767px) {
  /* line 25, ../sass/shy-styles.scss */
  .full-size {
    display: none !important;
  }

  /* line 26, ../sass/shy-styles.scss */
  .half-size {
    display: block !important;
    padding: 8px;
    padding: 0.5rem;
  }
  /* line 29, ../sass/shy-styles.scss */
  .half-size select {
    font-size: 16px;
    font-size: 1rem;
    margin: 8px;
    margin: 0.5rem;
    padding: 8px;
    padding: 0.5rem;
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 38, ../sass/shy-styles.scss */
  .full-size {
    display: block !important;
  }

  /* line 39, ../sass/shy-styles.scss */
  .half-size {
    display: none !important;
  }
}
/* line 43, ../sass/shy-styles.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../sass/shy-styles.scss */
body {
  color: #515151;
  line-height: 1.5;
  font-size: 110%;
}

/* line 52, ../sass/shy-styles.scss */
a {
  color: #c06606;
}
/* line 18, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #c06606;
}
/* line 21, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #E80C7A;
}
/* line 24, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #E80C7A;
}
/* line 27, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #ff00ff;
}

/* line 53, ../sass/shy-styles.scss */
a.links {
  margin: 16px;
  margin: 1rem;
  display: block;
  text-decoration: none;
}

/* line 58, ../sass/shy-styles.scss */
a.basic-links {
  display: inline;
  text-decoration: none;
}

/* line 62, ../sass/shy-styles.scss */
img {
  width: 95%;
  margin: 16px;
  margin: 1rem;
}
@media only screen and (max-width: 767px) {
  /* line 62, ../sass/shy-styles.scss */
  img {
    width: 90%;
  }
}

/* line 69, ../sass/shy-styles.scss */
ul li {
  margin: 8px 0 0 0;
  margin: 0.5rem 0 0 0;
}

/* line 72, ../sass/shy-styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

/* line 78, ../sass/shy-styles.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Eagle Lake', cursive;
  color: #515151;
}

/* line 82, ../sass/shy-styles.scss */
h1 {
  font-size: 64px;
  font-size: 4rem;
}

/* line 83, ../sass/shy-styles.scss */
h2 {
  font-size: 56px;
  font-size: 3.5rem;
  margin: 32px 0 0 0;
  margin: 2rem 0 0 0;
}

/* line 84, ../sass/shy-styles.scss */
h3 {
  font-size: 48px;
  font-size: 3rem;
  margin: 32px 0 0 0;
  margin: 2rem 0 0 0;
}

/* line 85, ../sass/shy-styles.scss */
h4 {
  font-size: 20.8px;
  font-size: 1.3rem;
  margin: 16px 0 8px 0;
  margin: 1rem 0 0.5rem 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 11.2px 16px 11.2px 16px;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #e5e5e5;
  color: #454545;
}

/* line 93, ../sass/shy-styles.scss */
h5 {
  font-size: 20.8px;
  font-size: 1.3rem;
  margin: 32px 0 0 0;
  margin: 2rem 0 0 0;
  padding: 8px 16px 8px 16px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid #e5e5e5;
  color: #E80C7A;
}
/* line 99, ../sass/shy-styles.scss */
h5 i {
  font-size: 17.6px;
  font-size: 1.1rem;
}

/* line 102, ../sass/shy-styles.scss */
a {
  text-decoration: none;
}
/* line 104, ../sass/shy-styles.scss */
a h5 {
  font-size: 20.8px;
  font-size: 1.3rem;
  margin: 0;
  margin: 0;
  padding: 8px 16px 8px 16px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  color: #E80C7A;
}
/* line 111, ../sass/shy-styles.scss */
a h5:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* line 118, ../sass/shy-styles.scss */
.nav-bg {
  background-color: #E80C7A;
}

/* line 122, ../sass/shy-styles.scss */
nav {
  font-size: 0;
  text-align: center;
}
/* line 127, ../sass/shy-styles.scss */
nav div a {
  color: white;
  padding: 16px 12.8px 16px 12.8px;
  padding: 1rem 0.8rem 1rem 0.8rem;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
}
/* line 18, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav div a:visited {
  color: white;
}
/* line 21, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav div a:focus {
  color: white;
}
/* line 24, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav div a:hover {
  color: white;
}
/* line 27, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav div a:active {
  color: white;
}
/* line 136, ../sass/shy-styles.scss */
nav div a:hover {
  background-color: rgba(220, 117, 138, 0.4);
}

/* line 141, ../sass/shy-styles.scss */
.active {
  background-color: #8a2854;
}
/* line 143, ../sass/shy-styles.scss */
.active:after {
  border-top: 15px solid black;
  border-top-color: inherit;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  right: 23px;
  display: inline-block;
  position: relative;
  top: 34px;
  margin-right: -30px;
  margin-top: 2pxpx;
}

/* line 158, ../sass/shy-styles.scss */
p {
  margin: 4.8px 0 8px 16px;
  margin: 0.3rem 0 0.5rem 1rem;
  line-height: 1.7;
}

/* line 163, ../sass/shy-styles.scss */
header {
  background-color: black;
  background-image: url(../images/head-bg.jpg);
  background-position: center center;
  color: white;
  width: 100%;
}

/* line 170, ../sass/shy-styles.scss */
h1.logo {
  height: 100%;
  /* start height */
  margin: 0 auto;
  background-size: cover;
  -moz-background-size: cover;
  /* Firefox 3.6 */
  background-position: center;
  /* Internet Explorer 7/8 */
  background-image: url(../images/solshine-logo.png);
  height: 250px\9;
}
@media only screen and (max-width: 767px) {
  /* line 170, ../sass/shy-styles.scss */
  h1.logo {
    padding: 6%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 170, ../sass/shy-styles.scss */
  h1.logo {
    padding: 10%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 170, ../sass/shy-styles.scss */
  h1.logo {
    padding: 0;
  }
}

/* line 188, ../sass/shy-styles.scss */
footer {
  margin-top: 64px;
  margin-top: 4rem;
  background-color: #AF294B;
  background-image: url(../images/bottom-bg.gif);
  color: #222;
  padding-bottom: 80px;
  width: 100%;
}
/* line 195, ../sass/shy-styles.scss */
footer a {
  color: #c06606;
  text-decoration: none;
}
/* line 18, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
footer a:visited {
  color: #c06606;
}
/* line 21, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
footer a:focus {
  color: #c06606;
}
/* line 24, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
footer a:hover {
  color: #c06606;
}
/* line 27, ../../../../.rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
footer a:active {
  color: #c06606;
}
/* line 199, ../sass/shy-styles.scss */
footer .foot-bg {
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  background: white;
  background: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 768px) {
  /* line 199, ../sass/shy-styles.scss */
  footer .foot-bg {
    padding: 10;
    min-height: 250px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 199, ../sass/shy-styles.scss */
  footer .foot-bg {
    min-height: auto;
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 199, ../sass/shy-styles.scss */
  footer .foot-bg {
    min-height: auto;
    margin-top: 10px !important;
  }
}
/* line 219, ../sass/shy-styles.scss */
footer .foot-bg img {
  margin: 0;
}

/* line 224, ../sass/shy-styles.scss */
h6 {
  font-size: 16px;
  font-size: 1rem;
  margin: 8px 0 8px 0;
  margin: 0.5rem 0 0.5rem 0;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #999;
  color: #515151;
  font-family: sans-serif;
}

/* line 235, ../sass/shy-styles.scss */
.soc-icons {
  background-image: url("../images/soc-icon-sprite.png");
  height: 62px;
  display: inline-block;
  width: 62px;
}

/* line 241, ../sass/shy-styles.scss */
.tw {
  background-position: 0px 0px;
}

/* line 242, ../sass/shy-styles.scss */
.fs {
  background-position: -65px 0px;
}

/* line 243, ../sass/shy-styles.scss */
.gg {
  background-position: -128px 0px;
}

/* line 244, ../sass/shy-styles.scss */
.yh {
  background-position: -190px 0px;
}

/* line 245, ../sass/shy-styles.scss */
.fb {
  background-position: -254px 0px;
}

/* line 246, ../sass/shy-styles.scss */
.yp {
  background-position: -317px 0px;
}

/* line 248, ../sass/shy-styles.scss */
.teacher {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: inline-block;
  padding-right: 8px;
  position: relative;
  float: left;
  width: 33%;
}
/* line 255, ../sass/shy-styles.scss */
.teacher h6 {
  text-decoration: none;
}
/* line 256, ../sass/shy-styles.scss */
.teacher img {
  margin: 0;
  width: 100%;
}

/* line 261, ../sass/shy-styles.scss */
img.teacher-bio {
  margin: 8px 16px 8px 0;
  margin: 0.5rem 1rem 0.5rem 0;
  float: left;
  width: 150px;
}

/* ==========================================================================
   From old site for layout on rates page
   ========================================================================== */
/* line 271, ../sass/shy-styles.scss */
.red-tx {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  color: #E80C7A;
}

/* line 276, ../sass/shy-styles.scss */
div.row {
  margin: 4.8px;
  margin: 0.3rem;
  padding: 8px 0 8px 16px;
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
  clear: both;
}

/* line 283, ../sass/shy-styles.scss */
div.row span.label {
  float: left;
  width: 80%;
  text-align: left;
}

/* line 288, ../sass/shy-styles.scss */
div.row span.formw {
  float: right;
  width: 20%;
  text-align: left;
}

/* line 294, ../sass/shy-styles.scss */
div.row span.label_70 {
  float: left;
  width: 68%;
  text-align: left;
}

/* line 299, ../sass/shy-styles.scss */
div.row span.formw_30 {
  float: right;
  width: 30%;
  text-align: left;
}

/* ==========================================================================
   Spacing Helpers
   ========================================================================== */
/* line 309, ../sass/shy-styles.scss */
.vcard {
  color: #515151;
  line-height: 1.5;
}
/* line 312, ../sass/shy-styles.scss */
.vcard .email {
  font-size: 85%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 320, ../sass/shy-styles.scss */
.bold {
  font-weight: bold;
}

/* line 321, ../sass/shy-styles.scss */
.pull-rt {
  float: right;
}

/* line 322, ../sass/shy-styles.scss */
.pull-lt {
  float: left;
}

/* line 323, ../sass/shy-styles.scss */
.t-align-rt {
  text-align: right;
}

/* line 324, ../sass/shy-styles.scss */
.t-align-ct {
  text-align: center;
}

/* line 325, ../sass/shy-styles.scss */
.t-align-lt {
  text-align: left;
}

/* line 326, ../sass/shy-styles.scss */
.med-line-ht {
  line-height: 22.4px;
  line-height: 1.4rem;
}

/* line 327, ../sass/shy-styles.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 328, ../sass/shy-styles.scss */
.bot-mar {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 329, ../sass/shy-styles.scss */
.pad-top-sm {
  padding-top: 8px;
  padding-top: 0.5rem;
}

/* line 330, ../sass/shy-styles.scss */
.pad-top-med {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 331, ../sass/shy-styles.scss */
.pad-bot-sm {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

/* line 332, ../sass/shy-styles.scss */
.pad-left-sm {
  padding-left: 8px;
  padding-left: 0.5rem;
}

/* line 333, ../sass/shy-styles.scss */
.x-pad {
  padding-right: 24px;
  padding-right: 1.5rem;
  padding-left: 24px;
  padding-left: 1.5rem;
}
